<br>
<form action="/CrearEncuesta" method="POST">
    <fieldset>
        <h3>Digite el nombre de su encuesta</h3>
        <div class="row">
            <div class="col-md-6">
                <br>
                <input type='text' class='form-control-plaintext' id='NombreEncuesta' name='NombreEncuesta'
                    placeholder='Introdusca el nombre de su encuesta' style="border-color: darkgray;
                border-width: 1px;">
            </div>
            
        </div>
        <br>
        <h3> Inserte las preguntas que desea presentar</h3>
        <br>
        <div class="form-group row">
            <div class="col" id="questionBox" style="
            overflow-y:scroll;
            max-height: 180px;">
            <%-include('./MinQuestion.ejs')%>
            </div> 
        </div>
        <div class="btn-group-vertical">
            <button type="button" onclick="handleSelectValue()" class="btn btn-info btn-md" name="addQuestion">
                Agregar una pregunta
            </button>
            <br>
            <button type="button" onclick="eraseLastInput()" class="btn btn-danger" name="deleteQuestion" value="true">
                Eliminar ultima pregunta
            </button>
            <br>
        </div>

        <div style="padding-left: 80%;">
            <button type="submit" id="createButton" class="btn btn-success btn-md ">+</button>
        </div>
    </fieldset>
    <br>
</form>