<div class="form-group row">
    
    <div class="col-sm-10">
        <input type="text" 
        style="border-color: rgb(131, 124, 122);"
        class="form-control-plaintext" 
        name='Pregunta'
        id="staticEmail" 
        placeholder="Introdusca su pregunta">
    </div>
</div>