<div class="row">
    <div class="col-md-6">
        <br>
        <input type='text' class='form-control-plaintext' id='Pregunta' name='Pregunta'
            placeholder='Introdusca su pregunta' style="border-color: darkgray;
            border-width: 1px;">
        <br>

    </div>
    <div class="col-md-6">
        <div class="form-group">
            <br>
            <select class="form-control" id="tipoDePregunta" name="tipoDePregunta">
                <option value="1">Verdadero o falso</option>
                <option value="2">Respuesta libre</option>
            </select>
        </div>
    </div>
</div>