<!DOCTYPE html>
<html lang="es">
<%-include('partials/Headers.ejs')%>

  <body>
    <!----Barra de navegacion------>
    <%-include('partials/NavBar.ejs')%>
      <!------------Parte media------------------>

        <div class="container" id="indexMainContainer">
          <br>
          <div class="row">
            <div class="col-md-6" id="indexMainContainerText">
              <br>
              <br>
              <h2>Bienvenido a Encuester </h2>
              <div class="row">
                <div class="col-md-12">
                  <img src="img/CompletingIcons.png" class="img-fluid" alt="Unreachable Image">
                </div>
              </div>
              <span>Tu mejor alternativa para realizar encuestas</span>
              <p>Cree encuetas para sus usuarios con el fin de mostrarla a cualquier usuario que usted necesite</p>
              <p>dandole la capacidad de poder relacionarla con su email y ganar dinero por responder.</p>
 
            </div> 
            <div class="col-md-6" id="indexFirtsImageBox">
              <img src="img/youngComputes.png" class="img-fluid" alt="Unreachable Image">
            </div>           
          </div>
          <div class="row">
            <div  class="col-md-12" id="indexMainContainerText">
              <h3>Mantenga sus usuarios al tanto de lo que usted piensa</h3>
            </div>
            <div class="col-md-6" id="indexFirtsImageBox">
              <img src="img/walkingYougn.png" class="img-fluid" alt="Unreachable Image">
            </div> 
            <div class="col-md-6" id="indexMainContainerText">
              <br>
              <br>
              <p>No supongas como se sienten tus clientes, preguntales directamente atraves de nuestra app</p>
              <p>Accesso desde que cualquier plataforma y facil de usar donde quieras que estes.</p>
              <div class="row">
                <div class="col-md-12">
                  <img src="img/CompletingIcons2.png" class="img-fluid" alt="Unreachable Image">
                </div>
            </div> 
          
          </div>
        </div>
        
        <!-- <div class="container" id="indexMainContainer">





          <br>
          <h2>Bienvenido a Encuester </h2>
          <span>Tu mejor alternativa para realizar encuestas</span>
          <img src="img/youngComputes.png" alt="Unreachable Image">
          <p>Cree una encuetas con su usuario para mostrarla a cualquier usuario que usted necesite</p>
          <br>
          <h3>Mantenga sus usuarios al tanto de lo que usted piensa</h3>
          <p>Cree una encuetas con su usuario para mostrarla a cualquier usuario que usted necesite</p>
        </div> -->

      <!------------------footer------------>

      <link href="css/bootstrap.min.css" rel="stylesheet">
      <script src="js/mainPageHandler.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>

  </body>

</html>